    .pdfobject-container {
	   width: 100%;
	   max-width: 600px;
	   height: 700px;
	   margin: 0 auto;
    }
    .pdfobject { border: solid 1px #666; }
    #form{
        text-align:center;
        width:50%;
        float:left;
    }
.error{
    color:red;
}
.half{
    width:50%;
    float:left;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #1bc2a2;
}
 
ul li {
  display: block;
  position: relative;
  float: left;
  background: #1bc2a2;
}
 

 
 
li ul { display: none; }
 
ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}
 
ul li a:hover { background: #2c3e50; }
 

 
 
li:hover > ul {
  display: block;
  position: absolute;
}
 
li:hover li { float: none; }
 
li:hover a { background: #1bc2a2; }
 
li:hover li a:hover { background: #2c3e50; }
 
.navMenu li ul li { border-top: 0; }
 
 
ul ul ul {
  left: 100%;
  top: 0;
}
 
/* Simple clearfix */
 
 
 
ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
 
ul:after { clear: both; }
</style>